:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(215, 215, 215, 0.87);
  background-color: #535353;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background-color: transparent !important;
  }

  &::-webkit-scrollbar-track {
    background: transparent !important; 
    border-radius: 3px !important;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(153, 153, 153, 0.5) !important;
    border-radius: 3px !important;
    transition: background 0.2s ease !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(102, 102, 102, 0.7) !important;
  }

  scrollbar-width: thin !important;
  scrollbar-color: rgba(153, 153, 153, 0.5) transparent !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
}

div {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
}


